name: Trigger TE Help

on:
  issue_comment:
    types: [created]

permissions:
  issues: write
  pull-requests: write
  contents: read

jobs:
  call-te-help-workflow:
    if: startsWith(github.event.comment.body, '/te-help')
    uses: lgati/gh-actions-hub/.github/workflows/te-help-workflow.yml@main
    with:
      pr_number: ${{ github.event.issue.number || 0 }}
      comment_id: ${{ github.event.comment.id || '' }}
      comment_author: ${{ github.event.comment.user.login || '' }}
    secrets:
      GH_TOKEN: ${{ secrets.GHA_PAT }}
      JIRA_API_TOKEN: ${{ secrets.JIRA_API_TOKEN }}
      JIRA_BASE_URL: ${{ secrets.JIRA_BASE_URL }}
      JIRA_USER_EMAIL: ${{ secrets.JIRA_USER_EMAIL }}
      
